.titleImg{
    margin-top: 0px;
    width: 100%;
    height: 35rem;
}
iframe{
    width: 100%;
    height: 500px;
}

#introHr{
    width: 15%;
    background-color: greenyellow;
    height: 7px;
    margin-left: 0%;
}

.nav-link{
    color: white;
    color: brown;
    text-decoration: none;
}

.d-block{
    
    /* width: 20rem; */
    height: 500px;
}

.card{
    height: 100%;
}

.topImage{
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 50%;
    left: 20%;
    color: rgb(255, 255, 255);
  }


footer {
background-color: black;
color: white;
margin-top:100px;
}

footer a {
color: #fff;
font-size: 14px;
transition-duration: 0.2s;
}

footer a:hover {
color: #FA944B;
text-decoration: none;
}

.social-network {
list-style: none;
display: inline;
margin-left: 0 !important;
padding: 0;
}

.social-network li {
display: inline;
margin: 0 5px;
}


/* footer social icons */

.social-network a.iconFacebook:hover {
background-color: #3B5998;
}

.social-network a.iconLinkedin:hover {
background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
color: #44BCDD;
}

.social-circle li a {
display: inline-block;
position: relative;
margin: 0 auto 0 auto;
border-radius: 50%;
text-align: center;
width: 2rem;
height: 2rem;
font-size: 15px;
}

.social-circle li i {
margin: 0;
line-height: 30px;
text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms--transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
transition: all 0.2s;
}

.social-circle i {
color: #000000;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
-ms-transition: all 0.8s;
transition: all 0.8s;
}

.social-network a {
background-color: #F9F9F9;
}