@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("bg_1.jpg");
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-top: 50px;

}
.contact .content p{
    font-weight: 300;
    color: #fff;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box  .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}


.container .contactInfo .box  .text h3{
    font-weight: 500;
    color:#00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow:#00bcd4 -5px 5px, rgba(92, 137, 189, 0.3) -10px 10px, rgba(70, 156, 190, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    /* box-shadow: rgba(182, 0, 0, 0.56) 0px 22px 70px 4px; */
    /* box-shadow: rgb(129, 38, 38) 0px 20px 30px -10px; */
}

.contactForm h2{
    font-size: 30px;
    font-weight: #333;
    font-weight: 500;

}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;

    /* border-bottom: 2px solid #333; */
    outline: none;
    /* resize: none;
    border: none; */

}





.contactForm .inputBox  input[type = submit]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container{
        width: 100%;
    }

}