.slide{
    height: 35rem;
    width: 100%;
}
.inner{
    background-color: rgba(0, 0, 0, 0.4);
}
.caption{
    background: rgba(0, 0, 0, 0.45);
}

.nav-link{
    color: white;
}

a:hover{
    color: brown;
    text-decoration: none;
}

#icons{
    margin-left: 15%;
}

#icons .nav-item{
    margin:10% 30%;
}

#loginRegister{
    margin-right: 15% ;
}
#loginRegister .nav-item{
    margin:10% 20%;
}