@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  margin: 0;
  padding: 0;
  border: 0;
}



.slide{
    height: 35rem;
    width: 100%;
}
.inner{
    background-color: rgba(0, 0, 0, 0.4);
}
.caption{
    background: rgba(0, 0, 0, 0.45);
}

.nav-link{
    color: white;
    text-decoration: none;
}

.parallax {
    background-image: url(../images/cine6.jpg);
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theatre{
    background: #3334352d;
    padding-top: 15%;
    padding-bottom: 15%;
    color: rgb(255, 255, 255);
}
.disButton{
    /* border: 2px solid #364c75; */
    background-color: #ffffffda; color: black;
    border-radius: 35px;
    font-style: italic;
}
.disButton:hover{
    background-color: #0f1de9; color: rgb(253, 250, 250);
}
.bot{
    background-color: #e66b1e;
    height: 25rem;
    font-style: italic;
}
.botr{
    padding-top: 8%;
    color: white;
}
.botc{
    height: 8rem;
    background: #33343598;
    border: 2px solid, #33343575;
    border-radius: 50px;
}
.subscribe{
    background-image: url(../images/subs.jpg);
    height: 30rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.adve{
    color: #e66b1e;
}
.sub{
    color: white;
    padding-top: 10%;
}
.subButton{
    background-color: red;
    color: white;
}

.img-fluid{
    height: 350px;
}

.card-body{
    height: 100%;
}

.cont{
    margin: 0 5%;
}
.contt{
    padding-top: 1rem;
}

.watch{
    background-color: orange;
    margin-left:  30%;
}

.header{
    font-style: italic;
}
.subInner{
    width: 30rem;
}

.carousel-inner{
    overflow: visible;
}
.arow{
    margin-top: 1%;
    margin-left: 47%;
}
.tvshow{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

}

/* new items style */


.tabContainer{
    
    height: 600px;
    margin: auto 5%;
}
.tabContainer .buttonContainer{
    height: 10%;
    
}
.tabContainer .buttonContainer button{
    width: 12%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    
    font-family: sans-serif;
    font-size: 18px;
    
}
.tabContainer .buttonContainer button:hover{
    
    background-color: #d7d4d4;
}

.tabContainer .buttonContainer button:focus{
    background-color:#e66b1e;
}
.tabContainer .tabPanel{
    
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    
}

footer{
    background-color: rgb(10, 1, 1);
    
}

footer p, footer h5, footer a, footer h2, i{
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: tomato;
}
/*  */
